<%# header.ejsの読み込み%>
<%- include('header') -%>

<div class="content">


  <h1 class='listName'><%=listName%></h1>

  <%#todoデータ取得%>
  <%var data = todos.reverse();%>
  <%#console.log(data);%>

  <%# Todo入力フォームを作成する%>
  <div class="Form">
    <h2>新しいTodoを作成する</h2>
    <form id='form'>
      <p>
        <label for='text'>内容</label>
        <input id='text' type='text' name='text'/>
      </p>
      <p>
        <label for='limit'>期限</label>
        <input id='limit' type='date' name='limit'/>
      </p>
      <p>
        <input type='submit' value='Todoの追加'/>
      </p>
    </form>
  </div>


  <%# todo一覧を表示する%>
  <%if(data.length == '0'){%>
    <h2>登録されたTodoはございません</h2>
  <%}%>

  <% data.forEach(function(detail){%>
  <div id="todoDetail">
    <h2><%=detail.text %></h2>
    <%if(detail.isCheck){%>
      <input class='checkbox' type='checkbox' checked="checked" value="<%=detail._id%>">
    <%}else{%>
      <input class='checkbox'type='checkbox'  value="<%=detail._id%>">
    <%}%>
    <p class='limitDate'>期限:<%= detail.limitDate.toLocaleString()%></p>
    <p class='createdDate'>作成日:<%= detail.createdDate.toLocaleString() %></p>
  </div>
  <%});%>

</div>

  <%# jQueryとindex.jsを読み込む%>
  <!-- <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
  <script src='../javascripts/jquery/jquery-3.1.1.min.js'></script>
  <script src='../javascripts/todo.js'></script>

<% include footer %>
