<%# header.ejsの読み込み%>
<%- include('header') -%>

<div class="content">

  <h1 class='listName'><%=listName%></h1>

  <%#todoデータ取得%>
  <%var data = todos.reverse();%>
  <%#console.log(data[0].limitDate);%>

  <%# Todo入力フォームを作成する%>
  <div class="Form">
    <h2>新しいTodoを作成する</h2>
    <form id='form'>
      <p>
        <label for='text'>内容</label>
        <input class = 'formInput' id='todoText' placeholder="◯◯をする"　type='text' name='text'/>
        <label for='limit'>期限</label>
        <input id='limit' type='date' name='limit'/>
        <input type='submit' value='追加する'/>
      </p>
    </form>
  </div>


  <%# todo一覧を表示する%>
  <%if(data.length == '0'){%>
    <h2 id="todoEmp">登録されたTodoはございません</h2>
  <%}%>

  <% data.forEach(function(detail){%>
    <% console.log(detail.limitDate.toLocaleString())%>
  <div id="todoDetail">

    <h2>
      <%if(detail.isCheck){%>
        <input class='checkBox' type='checkbox' checked="checked" value="<%=detail._id%>">
      <%}else{%>
        <input class='checkBox'type='checkbox'  value="<%=detail._id%>">
      <%}%>
      <%=detail.text %>
    </h2>

    <p class='limitDate'>期限:<%= detail.limitDate.toLocaleString()%></p>
    <p class='createdDate'>作成日:<%= detail.createdDate.toLocaleString() %></p>
  </div>
  <%});%>

</div>

  <%# jQueryとindex.jsを読み込む%>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <!-- <script src='../javascripts/jquery/jquery-3.1.1.min.js'></script> -->
  <script src='../javascripts/todo.js'></script>

<% include footer %>
